.titulo-pagina{
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    color: darkblue;
    margin: 10px;
}

.nome-da-propriedade {
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    padding: 20px;
}

.valor-da-propriedade {
    font-size: 1,5em;
    font-weight: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding: 30px;
    padding-bottom: 5px;

}

hr {
    margin: 15px;
}

.bloco-1{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3{
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1-sem-altura{
    background-color: lightblue;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-sem-altura{
    background-color: lightpink;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-sem-altura{
    background-color: red;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1-fontes-diferentes{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-fontes-diferentes{
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-fontes-diferentes{
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container{
    display: flex;
    flex-direction: row;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-row{
    display: flex;
    flex-direction: row;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-column{
    display: flex;
    flex-direction: column;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-row-reverse{
    display: flex;
    flex-direction:row-reverse;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.container-column-reverse{
    display: flex;
    flex-direction:column-reverse;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.justify-content-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-items-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-items-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-items-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-items-stretch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.flex-wrap-nowrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.flex-wrap-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-content-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}

.align-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    /* indiferente */
    background-color: antiquewhite;
    padding: 16px;
    height: 500px;
}